<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Ticket Details</title>
</head>
<body>
  <nav>
    <!-- Your navigation menu -->
  </nav>

  <div class="container">
    <h1>Ticket Details</h1>

    <div class="ticket-details">
      <h4>Description:</h4>
      <p>{{ticket.description}}</p>

      <h4>Severity:</h4>
      <p>{{ticket.priority}}</p>

      <h4>Status:</h4>
      <p>{{ticket.status}}</p>

      <h4>Created At:</h4>
      <p>{{ticket.created_at}}</p>

      <h4>State:</h4>
      <p>{{ticket.ticket_state}}</p>
    </div>

 <div class="comments">
  <h4>Comments:</h4>
  <ul>
    {{#each comments}}
      <li>{{this.comment}} - {{this.user_name}}</li>
    {{/each}}
  </ul>
</div>


    <!-- Display the user's name -->
    <li>{{this.comment}}</li>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</body>
</html>
